:root {
  --primary-color: white;
  --secondary-color: #157291;
  --accent1-color: #0b132b;
  --accent2-color: gray;
  --heading-font: Arial, Helvetica, sans-serif;
  --body-font: "Times New Roman", "Georgia", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  color: var(--accent1-color);
}

header, main {
  width: 840px;
  margin: 0 auto;
}

header {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  padding: 1rem;
  background-color: var(--accent1-color);
  border-bottom: 3px solid var(--primary-color);
}

header img {
  max-width: 120px;
}

footer {
  background-color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

h1, h2 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

nav, p, article {
  margin: 16px;
  padding: 8px;
}

nav {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: flex-end;
}


section {
  background-color: var(--accent2-color);
}

nav a {
  color: var(--secondary-color);
}

.socialmedia a {
  text-decoration: none;
}

.socialmedia {
  display: flex;
  gap: 1rem;
}

.socialmedia img {
  width: 32px;
  height: 32px;
}

.hero {
  position: relative;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

.hero h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 16px;
  text-align: center;
  opacity: 0.7;
  background-color: var(--accent1-color);
  color: #ffffff;
}

.hero article {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: rgba(255, 255, 255, 0.85);
  max-width: 400px;
}

.hero article img {
  float: right;
  width: 125px;
  margin-left: 10px;
}

.history h2 {
  padding: 1rem 1rem 0 1rem;
  text-align: center;
  margin-bottom: 1rem;
}

.history-grid {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: 1.5rem;
  align-items: center;
}

.history-grid img {
  max-width: 150px;
}

.adventure-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  text-align: center;
}

.adventures h2 {
  padding: 1rem 1rem 0 1rem;
  text-align: center;
  margin-bottom: 1rem;
}

.adventure-grid img {
  width: 100%;
  height: 100px;
}